*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background: linear-gradient(180deg, #1a002b, #2b0047);
    color:white;
}


/* HEADER */

header{
    box-shadow: 0 0 10px #4a1080;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    border-bottom:1px solid #6a00ff;
}

header span{
    background: linear-gradient(90deg, #9a63f8, #c894f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a{
    color:#c084fc;
    text-decoration:none;
    font-size:16px;
    border-bottom:2px solid #c084fc;
    padding-bottom:3px;
    transition:0.3s;
}

header a:hover{
    color:#e9d5ff;
    border-bottom:2px solid #e9d5ff;
}


/* MAIN - conteúdo esquerda / imagem direita */

main{
    flex:1;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px;
}


/* CONTEÚDO (ESQUERDA) */

.conteudo{
    max-width:600px;
    order:1;
}


/* IMAGEM (DIREITA) */

main img{
    width:400px;
    height:auto;
    border-radius:12px;
    box-shadow:0 0 25px #6a00ff;
    order:2;
}


/* TITULOS */

h2{
    padding-left:25px;
    padding-top:10px;
    font-size:26px;
    margin-bottom:15px;
}

.titulo-func{
    margin-top:50px;
    font-size:26px;
    padding-left:25px;
}


/* TEXTO */

.descricao{
    padding-left:25px;
    font-size:20px;
    color:#c4b5fd;
    line-height:1.6;
    margin-bottom:10px;
}


/* FUNCIONALIDADES */

.funcionalidades{
    padding-left:25px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.funcionalidades span{
    border:1px solid #a855f7;
    padding:10px 25px;
    border-radius:6px;
    font-size:17px;
    color:#e9d5ff;
    box-shadow:0 0 10px #4a1080;
}


/* BOTÃO */

.botao{
    display:inline-block;
    margin-top:20px;
    margin-left:25px;
    padding:12px 25px;
    border:none;
    border-radius:20px;
    background: linear-gradient(90deg, #7c3aed, #a855f7);
    color:white;
    cursor:pointer;
    font-size:14px;
    transition:0.3s;
}

.botao:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #a855f7;
}


/* FOOTER */

footer{
    border-top:1px solid #6a00ff;
    padding:15px;
    text-align:center;
    color:#c084fc;
    font-size:14px;
}