*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #1a002b, #2b0047);
    color: white;
}

header{
    box-shadow: 0 0 10px #4a1080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #6a00ff;
}

header span{
    background: linear-gradient(90deg, #9a63f8, #c894f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header a{
    color: #c084fc;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 2px solid #c084fc;
    padding-bottom: 3px;
    transition: 0.3s;
}

header a:hover{
    color: #e9d5ff;
    border-bottom: 2px solid #e9d5ff;
}

main{
    flex: 1;
}

.conteudo{
    margin-left: 40px;
    margin-top: 40px;
    max-width: 600px;
}

h2{
    padding-left: 25px;
    padding-top: 10px;
    font-size: 26px;
    margin-bottom: 15px;
}

.titulo-func{
    margin-top: 50px;
    font-size: 26px;
    padding-left: 25px;
}

.descricao{
    padding-left: 25px;
    font-size: 20px;
    color: #c4b5fd;
    line-height: 1.6;
    margin-bottom: 10px;
}

.funcionalidades{
    padding-left:25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.funcionalidades span{
    border: 1px solid #a855f7;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 17px;
    color: #e9d5ff;
    box-shadow: 0 0 10px #4a1080;
}

.botao{
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #7c3aed, #a855f7);
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.botao:hover{
    transform: scale(1.05);
}